bin/
gen/
.settings/
resbuilder/
spoon-output/
assets/
obj/
.gradle/
build/
3rd_party/api-android/
RELEASE/

*.class
.classpath
.cproject
.project
local.properties
lint.xml
src/libs/armeabi/gdb.setup
src/libs/armeabi/gdbserver
src/libs/armeabi/librender.so